.title
  font-size: 3rem
  text-align: center
  color: var(--primary-color)
  letter-spacing: var(--expanded-spacing)
  text-transform: uppercase
  margin: 0 0 2rem
  padding: 4rem 0 2rem
  position: sticky
  top: 0
  background-color: var(--muted-bg)
  z-index: 4

.content
  padding: 0 6rem 4rem 6rem
  position: relative

.borderTop
  border-top: 1px solid var(--default-border)
  padding-top: 3rem

.section
  margin-bottom: 3.5rem
  &:last-of-type
    margin-bottom: 0

.options
  display: flex

.deliveryOptionIcon
  margin-right: 1rem
  font-size: 1.8rem

.deliveryOptionIconActive
  color: var(--check-color)

.deliveryTimeOption
  padding: 1.5rem 3rem
  border-radius: var(--rounded-br)
  letter-spacing: var(--expanded-spacing)
  font-family: var(--secondary-font)
  text-transform: uppercase
  font-size: 1.4rem
  font-weight: bold
  display: flex
  align-items: center
  color: var(--primary-color)
  &:first-child
    margin-right: 1rem

.deliveryTimeOptionInactive
  border: 1px solid var(--primary-border)
  cursor: pointer
  transition: var(--fast-transition)
  &:hover
    box-shadow: var(--shadow-0)

.deliveryTimeOptionActive
  border: 1px solid var(--secondary-border)
  background-color: var(--secondary-bg)
  box-shadow: var(--shadow-0)
  cursor: default

.subtitle
  font-size: 1.8rem
  width: 100%
  font-weight: 800
  color: var(--primary-color)
  letter-spacing: var(--expanded-spacing)
  margin: 0 0 1.5rem
  text-transform: uppercase

.mapImage
  width: 48rem
  height: 25rem
  background: var(--primary-loader-bg)
  margin-top: 1rem
  border-radius: 1rem

.timig
  display: flex
  font-size: 1.6rem
  color: var(--default-color)
  letter-spacing: var(--expanded-spacing)
  text-transform: uppercase

.timingIcon
  margin-right: 0.5rem

.item
  display: grid
  margin-top: 2rem
  grid-template-columns: 1fr 10rem
  column-gap: 2rem

.qty
  width: 3rem
  height: 3rem
  display: flex
  align-items: center
  justify-content: center
  background: var(--grey-nuance-darker)
  font-size: 1.5rem
  font-weight: 600
  border-radius: var(--rounded-br)
  flex: 0 0 auto

.itemData
  display: grid
  align-items: center
  flex: 1
  grid-template-columns: 3rem 1fr
  column-gap: 1.5rem

.name
  font-size: 1.6rem
  font-weight: 400
  color: var(--default-color)
  text-transform: uppercase
  letter-spacing: var(--expanded-spacing)
  font-family: var(--secondary-font)
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  flex: 1
  max-width: 28rem

.price
  font-size: 1.8rem
  font-weight: 400
  color: var(--default-color)
  letter-spacing: var(--expanded-spacing)
  font-family: var(--secondary-font)
  flex: 0 0 auto
  display: flex
  align-items: center
  justify-content: flex-end

.promoForm
  position: relative
  display: flex
  align-items: center

.buttonPromo
  position: absolute
  right: 2rem
  height: 3rem
  appearance: none
  border: none
  background: transparent
  cursor: pointer
  font-size: 1.5rem
  font-weight: 800
  color: var(--primary-color)
  text-transform: uppercase
  padding: 0 1rem
  letter-spacing: var(--expanded-spacing)
  font-family: var(--primary-font)

.promoDisplay
  height: 6rem
  display: flex
  align-items: center
  justify-content: space-between
  background-color: var(--secondary-bg)
  border-radius: var(--rounded-br)
  padding: 0 2rem

.promoData
  display: flex
  align-items: center

.tagPromo
  margin-right: 2rem
  font-size: 1.8rem
  color: var(--secondary-color)

.promoLabel
  letter-spacing: var(--expanded-spacing)
  font-family: var(--primary-font)
  font-size: 1.5rem
  text-transform: uppercase
  color: var(--primary-color)
  font-weight: bold

.deletePromo
  display: flex
  appearance: none
  cursor: pointer
  background: transparent
  border: none
  align-items: center
  color: var(--muted-color)

.deleteIcon
  font-size: 1.8rem
  margin-right: 0.5rem

.accountDetail
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 1.6rem
  &:last-child
    margin-bottom: 0

.accountingProp
  text-transform: uppercase
  font-family: var(--secondary-font)
  letter-spacing: var(--expanded-spacing)
  color: var(--default-color)
  font-size: 1.6rem

.accountingPropBold
  color: var(--primary-color)
  font-size: 1.6rem

.accountingValue
  font-size: 1.8rem
  font-weight: 400
  color: var(--default-color)
  letter-spacing: var(--expanded-spacing)
  font-family: var(--secondary-font)

.checkoutLink
  position: sticky
  bottom: 4rem
  display: block
  
.checkout
  background-color: var(--primary-bg)
  color: var(--secondary-inverted-color)
  left: 0
  right: 0
  display: flex
  align-items: center
  justify-content: space-between
  padding: 2rem 6rem
  font-size: 1.8rem
  margin-top: 3rem
  cursor: pointer

.cta
  font-weight: 800
  color: var(--secondary-inverted-color)
  letter-spacing: var(--expanded-spacing)
  text-transform: uppercase
  display: flex
  align-items: center

.iconCta
  font-size: 2rem
  margin-left: 1rem

.ctaPrice
  font-size: 2rem
  color: var(--secondary-inverted-color)
  letter-spacing: var(--expanded-spacing)
