.head
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: 1px solid var(--default-border)
  position: sticky
  top: -4rem
  z-index: 2
  background-color: var(--muted-bg)

.title
  font-size: 2rem
  font-weight: 600
  margin: 0
  line-height: 3
  color: var(--primary-color)

.count
  font-size: 1.8rem
  color: var(--default-color)

.item
  margin: 3rem 0 4rem

.empty
  margin-top: 6rem
  display: flex
  flex-direction: column
  align-items: center

.icon
  color: var(--muted-color)
  font-size: 6rem

.emptyText
  color: var(--muted-color)
  font-size: 2rem
  text-align: center
  margin-top: 1.5rem

.account
  display: flex
  justify-content: space-between
  margin-bottom: 1rem
  &:last-child
    margin-bottom: 0

.accountLabel
  font-size: 2rem
  font-weight: bold
  color: var(--default-color)

.accountValue
  font-size: 1.9rem
  color: var(--default-color)

.accountValueForSales
  font-size: 1.9rem
  color: var(--highlight-color)

.itemsContainer
  max-height: calc(100vh - 51rem)
  overflow: auto

.toolbar
  display: flex
  flex-direction: column
  position: sticky
  bottom: 0
  padding: 4rem 0 4rem
  background: linear-gradient(0deg, rgba(247,237,228,0.8) 0%, rgba(247,237,228,0.6) 75%, rgba(247,237,228,0) 100%)

.button
  width: 100%
