.element
  margin: 0 3rem
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  
.link
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  cursor: pointer

.thumb
  width: 10rem
  height: 10rem
  background-color: var(--secondary-bg)
  color: var(--inverted-color)
  border-radius: var(--rounded-br)
  margin: 0 1rem
  overflow: hidden
  box-shadow: var(--shadow-0)
  margin-bottom: 1rem
  transition: var(--fast-transition)
  &:hover
    box-shadow: var(--shadow-1)

.image
  width: 100%
  height: 100%
  object-fit: cover

.label
  font-size: 2rem
  font-weight: 100
  color: var(--default-color)

.bullet
  width: 0.75rem
  height: 0.75rem
  border-radius: var(--rounded-br)
  background-color: var(--default-color)
  position: relative
  top: 0.75rem
