.container
  opacity: 0
  animation-name: loader
  animation-delay: 300ms
  animation-duration: 500ms
  animation-timing-function: ease-out
  animation-iteration-count: 1
  animation-fill-mode: forwards

@keyframes loader
  to
    opacity: 1
