.container
  height: 100%
  padding: 4rem 10rem 3rem
  transition: all 0.3s ease-out 0.5s

.containerInactive
  pointer-events: none
  opacity: 0.4

.categoryData
  display: flex
  align-items: center
  height: 5rem
  margin-bottom: 3rem
  align-items: center
  justify-content: space-between

.categoryElement
  display: flex
  align-items: center

.categoryImage
  width: 5rem
  height: 5rem
  border-radius: var(--rounded-br)
  margin-right: 2rem

.categoryDisplayname
  color: var(--default-color)
  font-size: 2.2rem
  font-weight: 100

.timerState
  background-color: var(--highlight-bg)
  color: var(--inverted-color)
  font-size: 1.8rem
  font-weight: bold
  padding: 0.5rem 2rem
  border-radius: 0.5rem
  cursor: pointer
  user-select: none

.storiesContainer
  height: calc(100% - 9rem)
  box-shadow: var(--shadow-0)
  position: relative

.tabContainer
  width: 100%
  position: absolute
  display: grid
  left: 0
  top: -1.1rem
  height: 0.25rem
  column-gap: 1rem
  z-index: 3

.tab
  width: 100%
  height: 100%
  background-color: var(--grey-nuance-lighter)
  border-radius: var(--rounded-br)

.timer
  height: 100%
  background-color: var(--grey-nuance-darker)
  border-radius: var(--rounded-br)
  
.inactiveTimer
  width: 0%

.activeTimer
  width: 100%

.currentTimer
  width: 100%
  will-change: transform
  transform-origin: left center

.storyMultimediaContainer
  width: 100%
  height: 100%
  overflow: hidden

.arrowContainer
  position: absolute
  z-index: 2
  height: 100%
  display: flex
  align-items: center
  top: 0
  transition: var(--fast-transition)
  &:first-child
    left: -7rem
  &:last-child
    right: -7rem

.arrowElement
  width: 4rem
  height: 4rem

.arrow
  cursor: pointer
  padding: 0.4rem
  color: var(--primary-color)
  opacity: 0.4
  transition: var(--fast-transition)
  &:hover
    opacity: 1

.progressContainer
  position: fixed
  z-index: 3
  height: 4px
  top: 0
  left: 40rem
  right: 0
  background-color: var(--grey-nuance-lighter)
  border-radius: var(--rounded-br)
  overflow: hidden

.progress
  width: 0%
  height: 100%
  background-color: var(--highlight-bg)
  border-radius: var(--rounded-br)

.menu
  grid-row: 2 / 3
