.progress
  animation-name: loader
  animation-delay: 0ms
  animation-duration: 3000ms
  animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1)
  animation-iteration-count: 1
  animation-fill-mode: forwards

@keyframes loader
  to
    width: 100%

.opacity
  opacity: 0
  animation-name: opacity
  animation-delay: 300ms
  animation-duration: 500ms
  animation-timing-function: ease-out
  animation-iteration-count: 1
  animation-fill-mode: forwards

@keyframes opacity
  to
    opacity: 1
