.content
  height: 100vh
  background-color: var(--secondary-bg)
  display: grid
  grid-template-rows: minmax(0, 1fr) 17rem

.stories
  grid-row: 1 / 2

.header
  display: flex
  align-items: center
  height: 5rem
  margin-bottom: 3rem

.thumb
  width: 5rem
  height: 5rem
  border-radius: 5rem
  background: var(--grey-nuance-lighter)
  margin-right: 2rem

.headerLabel
  height: 3rem
  width: 15rem
  border-radius: 0.5rem
  background: var(--grey-nuance-lighter)

.storyPlaceholder
  height: calc(100% - 9rem)
  background: var(--grey-nuance-lighter)

.loaderContainer
  padding: 4rem 10rem 3rem
  height: 100%

.menu
  height: 10rem
  display: flex
  justify-content: center

.menuItem
  width: 10rem
  height: 10rem
  border-radius: var(--rounded-br)
  background: var(--grey-nuance-lighter)
  margin: 0 3rem
