.button
  border: none
  padding: 1.5rem 5rem
  appearance: none
  box-shadow: var(--shadow-0)
  background-color: var(--secondary-bg)
  color: var(--primary-color)
  cursor: pointer
  font-size: 2rem
  border-radius: var(--rounded-br)
  font-weight: 800
  display: flex
  justify-content: center
  align-items: center
  position: relative
  transition: var(--fast-transition)
  &:hover
    color: var(--secondary-color)
    box-shadow: var(--shadow-1)

.inlineButton
  border: none
  padding: 1.5rem 5rem
  appearance: none
  background-color: transparent
  color: var(--default-color)
  cursor: pointer
  font-size: 2rem
  font-weight: 800
  display: flex
  justify-content: center
  align-items: center
  transition: var(--fast-transition)
  border-radius: var(--rounded-br)
  &:hover
    box-shadow: var(--shadow-0)
