.container
  width: 5rem
  height: 5rem
  position: relative

.element
  width: 5rem
  height: 5rem

.miniContainer
  width: 4rem
  height: 4rem
  position: relative

.miniElement
  width: 4rem
  height: 4rem

.elementBase
  border-radius: 5rem
  box-shadow: var(--shadow-0)
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  transition: var(--fast-transition)
  user-select: none
  appearance: none
  border: none
  padding: 0
  &:hover
    box-shadow: var(--shadow-1)

.inactive
  background-color: var(--secondary-bg)
  color: var(--primary-color)
  &:hover
    color: var(--secondary-color)

.active
  background-color: var(--highlight-bg)
  color: var(--inverted-color)

.icon
  font-size: 2.5rem

.miniIcon
  font-size: 2rem

.labelBase
  position: absolute
  display: flex
  width: 100%
  justify-content: center
  text-align: center
  z-index: 3

.label
  top: 7rem

.miniLabel
  top: 5rem

.labelContentBase
  background-color: var(--overlay-bg)
  color: var(--inverted-color)
  opacity: 0.98

.miniLabelContent
  font-size: 1.5rem
  padding: 0.5rem 1.2rem
  border-radius: 4px

.labelContent
  font-size: 1.75rem
  padding: 1rem 1.75rem
  border-radius: 6px
