.content
  display: flex
  justify-content: center
  flex-direction: column
  
.title
  font-size: 2rem
  text-align: center
  margin: 1rem 0 1rem

.text
  font-size: 1.8rem
  line-height: 1.8
  text-align: center
  margin-bottom: 4rem

.separatorContainer
  margin: 3rem 0 3rem

.separator
  text-align: center
  position: relative
  display: block
  z-index: 0
  color: var(--default-color)
  font-size: 1.8rem
  line-height: 2rem
  &::after
    border-bottom: 1px solid var(--default-border)
    content: ""
    display: block
    position: absolute
    top: 0.9rem
    width: 45%
    z-index: -2
    left: 0
    margin-top: 1px
  &::before
    border-bottom: 1px solid var(--default-border)
    content: ""
    display: block
    position: absolute
    top: 0.9rem
    width: 45%
    z-index: -2
    right: 0
    margin-top: 1px

.loginAction
  text-align: center
  cursor: pointer
  font-size: 2rem
  font-weight: bold
  color: var(--default-color)

.modal
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 40rem
  z-index: 2
