.content
  padding: 4rem 6rem
  display: flex
  flex-direction: column
  align-items: center

.title
  font-size: 2.5rem
  width: 100%
  font-weight: 800
  color: var(--primary-color)
  margin: 0

.form
  width: 100%
  margin-top: 4rem

.input
  margin-bottom: 3rem
  &:last-of-type
    margin-bottom: 0

.toolbar
  display: flex
  justify-content: center
  margin-top: 5rem

.button
  width: 100%

.switch
  display: flex
  align-items: center
  margin-top: 6rem
  font-size: 2rem

.switchLabel
  color: var(--default-color)

.switchLink
  margin-left: 1rem
  color: var(--secondary-color)
  font-weight: 800
