.container
  min-height: 100vh
  background-color: var(--muted-bg)
  display: flex
  align-items: center
  justify-content: center

.viewport
  max-width: 62rem
  display: flex
  align-items: center
  justify-content: center

.content
  width: var(--phi-ratio)
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

.logo
  width: var(--phi-ratio)
  margin-bottom: 2rem
  fill: var(--primary-color)

.title
  font-size: 3rem
  margin: 2rem 0
  color: var(--primary-color)

.text
  font-size: 2rem
  margin: 0 0 1.5rem
  color: var(--primary-color)

.codeContainer
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  margin-top: 3rem

.code
  width: 100%
  margin: 0 0 1rem

.codeHelp
  font-size: 1.8rem
  text-align: center
  text-decoration: underline
