.row
  display: flex
  align-items: flex-start

.thumbContainer
  width: 6rem
  height: 6rem
  position: relative
  flex: 0 0 auto
  left: 1px

.quantity
  width: 3rem
  height: 3rem
  background-color: var(--alternate-bg)
  border-radius: var(--rounded-br)
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  top: -1.4rem
  right: -1.6rem
  font-size: 1.5rem
  font-weight: bold
  color: var(--inverted-color)
  box-shadow: var(--shadow-0)

.thumb
  width: 6rem
  height: 6rem
  border-radius: 6rem
  flex: 0 0 auto
  display: block
  box-shadow: var(--shadow-0)
  object-fit: cover

.data
  margin-left: 3rem
  flex: 1

.name
  font-size: 2rem
  color: var(--default-color)
  font-weight: 800
  margin-bottom: 0.5rem

.pricing
  font-size: 1.9rem
  margin-top: 1rem
  color: var(--default-color)
  display: flex
  align-items: center
  justify-content: space-between

.total
  font-size: 1.9rem
  color: var(--default-color)
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 0.5rem

.toolbar
  margin-top: 1.75rem
  display: flex
  align-items: center
  justify-content: space-between
  transition: var(--fast-transition)

.cartIconContainer
  width: 3.5rem
  height: 3.5rem

.cartIcon
  font-size: 2.5rem
  padding: 1rem
  color: var(--default-color)
  cursor: pointer
  opacity: 0.6
  transition: var(--fast-transition)
  &:hover
    opacity: 1

.qty
  color: var(--default-color)
  font-size: 1.8rem
  padding: 0 2rem

.inactiveToolbar
  opacity: 0.6
  pointer-events: none
