.container
  width: 100%
  height: 100%
  position: relative

.image
  width: 100%
  height: 100%
  object-fit: cover

.data
  position: absolute
  bottom: 0
  left: 0
  width: 60rem
  padding: 6rem

.vignette
  background-image: linear-gradient(77deg,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 85%)
  top: 0
  left: 0
  right: 20%
  bottom: 0
  position: absolute
  opacity: 0.8

.title
  font-size: 5rem
  line-height: 6rem
  font-weight: 800
  color: var(--primary-color)
  margin: 0 0 2rem

.description
  font-size: 2.5rem
  color: var(--primary-color)
  margin: 0 0 2rem  

.discountData
  display: flex
  align-items: center
  margin-bottom: 2rem

.discountRate
  background-color: var(--alternate-bg)
  color: var(--inverted-color)
  font-size: 1.75rem
  padding: 0.5rem 1.5rem
  border-radius: var(--rounded-br)
  font-weight: bold
  display: flex
  align-items: center

.tagDiscount
  font-size: 2rem
  margin-right: 0.5rem

.listPrice
  text-decoration: line-through
  font-size: 2.5rem
  color: var(--muted-color)
  margin-bottom: 0
  
.price
  font-size: 3rem
  font-weight: 800
  color: var(--price-color)

.toolbar
  margin-top: 3rem
  display: flex
  align-items: center

.cartIcon
  margin-right: 1rem

.qty
  font-size: 2rem
  font-weight: bold
  padding: 0 2rem

.waitingIndicator
  margin-right: 1rem
  width: 3rem
  height: 3rem
  display: flex
  align-items: center
  justify-content: center
