.container
  cursor: pointer

.containerPending
  opacity: 0.6
  pointer-events: none
  
.content
  width: 100%
  height: 6rem
  border: 1px solid var(--input-border)
  display: flex
  align-items: center
  justify-content: center
  position: relative

.contentLoader
  width: 100%
  height: 6rem
  background-color: var(--primary-loader-bg)

.button
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  appearance: none
  border: none
  background: transparent
  cursor: pointer

.label
  font-size: 1.4rem
  font-weight: 400
  text-transform: uppercase
  letter-spacing: 2px
  color: var(--primary-color)

.plusIcon
  font-size: 2rem
  color: var(--primary-color)
  margin-right: 1rem

.select
  appearance: none
  border: none
  background: transparent
  font-size: 1.4rem
  font-weight: 400
  text-transform: uppercase
  letter-spacing: 2px
  color: var(--primary-color)
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  text-indent: 2rem
  cursor: pointer
  outline: none
  &:focus
    color: var(--secondary-color)

.selectIcon
  font-size: 2rem
  color: var(--primary-color)
  margin-left: 1rem
  position: absolute
  right: 2rem
