.modal
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 4
  background-image: url('../../multimedia/blur.jpg')
  background-size: cover

.toolbar
  position: fixed
  top: 2rem
  left: 2rem
  display: flex
  align-items: center

.closeTap
  margin-right: 1rem

.overlay
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.25)
  display: flex
  align-items: center
  justify-content: center

.content
  width: 60rem
  background-color: var(--muted-bg)
  border-radius: 1rem
  box-shadow: var(--shadow-0)
  max-height: calc(100vh - 16rem)
  overflow: auto
  overscroll-behavior: contain

.logoContainer
  width: 100%
  height: 5rem
  background-color: var(--muted-bg)
  border-radius: var(--rounded-br)
  display: flex
  align-items: center
  justify-content: center

.logo
  width: 60%
  fill: var(--primary-color)
