.title
  font-size: 3rem
  text-align: center
  color: var(--primary-color)
  letter-spacing: var(--expanded-spacing)
  text-transform: uppercase
  margin: 0 0 2rem
  padding: 4rem 0 2rem
  position: sticky
  top: 0
  background-color: var(--muted-bg)
  z-index: 4

.content
  padding: 0 6rem 4rem 6rem
  position: relative

.section
  margin-bottom: 3.5rem
  &:last-of-type
    margin-bottom: 0

.subtitle
  font-size: 1.8rem
  width: 100%
  font-weight: 800
  color: var(--primary-color)
  letter-spacing: var(--expanded-spacing)
  margin: 0 0 1.5rem
  text-transform: uppercase

.value
  text-transform: uppercase
  font-family: var(--secondary-font)
  letter-spacing: var(--expanded-spacing)
  color: var(--default-color)
  font-size: 1.6rem
  line-height: 1.8

.item
  display: flex
  margin-top: 2rem
  align-items: center

.qty
  width: 3rem
  height: 3rem
  display: flex
  align-items: center
  justify-content: center
  background: var(--grey-nuance-darker)
  font-size: 1.5rem
  font-weight: 600
  border-radius: var(--rounded-br)
  flex: 0 0 auto
  margin-right: 1.5rem

.name
  font-size: 1.6rem
  font-weight: 400
  color: var(--default-color)
  text-transform: uppercase
  letter-spacing: var(--expanded-spacing)
  font-family: var(--secondary-font)
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  flex: 1
  max-width: 43.5rem

.borderTop
  border-top: 1px solid var(--default-border)
  padding-top: 3rem

.accountDetail
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 1.6rem
  &:last-child
    margin-bottom: 0

.accountingProp
  text-transform: uppercase
  font-family: var(--secondary-font)
  letter-spacing: var(--expanded-spacing)
  color: var(--default-color)
  font-size: 1.6rem

.accountingPropBold
  color: var(--primary-color)
  font-size: 1.6rem

.accountingValue
  font-size: 1.8rem
  font-weight: 400
  color: var(--default-color)
  letter-spacing: var(--expanded-spacing)
  font-family: var(--secondary-font)
