.headerLoader
  background: var(--grey-nuance-lighter)
  grid-column: 1 / 2
  z-index: 4

.container
  background-color: var(--muted-bg)
  box-shadow: var(--shadow-0)
  grid-column: 1 / 2
  padding: 4rem 0 0
  position: relative
  z-index: 4
  overflow: auto
  max-height: 100vh

.main
  width: 20rem
  margin: 0 auto 3rem

.logoIcon
  fill: var(--primary-color)

.typoIcon
  margin-top: 1rem
  fill: var(--primary-color)

.tools
  display: flex
  align-items: center
  justify-content: center

.tap
  margin: 0 1.5rem

.addressContainer
  margin-bottom: 2rem
  
.view
  padding: 3rem 3rem 0
