.content
  padding: 4rem 6rem
  display: flex
  flex-direction: column
  align-items: center

.title
  font-size: 2.5rem
  width: 100%
  font-weight: 800
  color: var(--primary-color)
  margin: 0

.form
  width: 100%
  margin-top: 4rem

.input
  margin-bottom: 4rem
  position: relative
  &:last-of-type
    margin-bottom: 0

.toolbar
  display: flex
  flex-direction: column
  justify-content: center
  margin-top: 5rem

.button
  width: 100%
  &:first-child
    margin-bottom: 2rem

.autocomplete
  background-color: var(--secondary-bg)
  box-shadow: var(--shadow-0)
  border-radius: 1rem
  position: fixed
  width: 48rem
  z-index: 2
  margin-top: 0.5rem
  max-height: calc((100vh / 2) - 24rem)
  overflow: auto

.option
  padding: 2rem
  display: flex
  align-items: center
  cursor: pointer
  outline: none
  &:hover
    background: var(--grey-nuance-lighter)

.optionActive
  background: var(--grey-nuance-lighter)

.optionIcon
  color: var(--muted-color)
  margin-right: 1.5rem

.optionData
  font-size: 1.8rem
  color: var(--default-color)

.optionDataTitle
  font-weight: 600

.mapImage
  width: 48rem
  height: 25rem
  background: var(--primary-loader-bg)
  margin-bottom: 3rem
  border-radius: 1rem

.addressDisplayTitle
  font-size: 2rem
  margin-bottom: 1rem
  color: var(--default-color)

.addressDisplay
  font-size: 2rem
  font-weight: 600
  color: var(--primary-color)
  margin-bottom: 2rem

.placeholderContainer
  width: 100%
  height: 5.25rem
  margin-bottom: 2rem

.placeholderElement
  height: 1.875rem
  background: var(--primary-loader-bg)
  margin: 0.5rem 0
  border-radius: 0.25rem
  &:last-child
    width: 50%
