.TextFieldRoot
  width: 100%
  &.error
    label
      color: red
    input
      border: 1px solid red
      &::placeholder
        color: red
  label
    color: var(--default-color)
    cursor: text
    background-color: var(--transparent)
    margin-bottom: 1rem
    display: block
    text-transform: uppercase
    letter-spacing: 2px
    font-size: 1.4rem
    font-weight: 600
  input
    width: 100%
    outline: none
    border: none
    border: 1px solid var(--input-border)
    margin: 0
    padding: 0 2rem
    height: 6rem
    color: var(--primary-color)
    transition: 300ms ease-out all
    background-color: var(--transparent)
    font-size: 1.4rem
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 2px
    border-radius: 0
    box-shadow: none
    appearance: none
    &::placeholder
      color: var(--muted-color)
  .errorDescription
    color: red
    font-size: 12px
    margin-top: 5px

.checkIcon
  position: absolute
  right: 0
  fill: var(--inactive-color)
  top: 0.75rem
  right: 0.75rem
  width: 1.25rem
  height: auto
