:root {
  /** Variables para background */
  --default-bg: #f0f2f5;
  --primary-bg: #291401;
  --secondary-bg: #fff;
  --secondary-overlay-bg: rgba(255, 255, 255, 0.4);
  --alternate-bg: rgb(255, 101, 66);
  --grey-nuance-lighter: #eeeeee;
  --grey-nuance-darker: #dddddd;
  --overlay-bg: rgba(0, 0, 0, 0.75);
  --highlight-bg: #5e83ff;
  --muted-bg: #f7ede4;
  --primary-loader-bg: rgba(41, 20, 1, 0.1);
  /** --muted-bg: hsl(187, 100%, 13%); **/

  /** Variables para texto */
  --primary-color: #291401;
  --secondary-color: #5e83ff;
  --highlight-color: rgb(255, 101, 66);
  --price-color: rgb(255, 101, 66);
  --inverted-color: #fff;
  --default-color: #5f676f;
  --inactive-color: #dddfe2;
  --muted-color: #8a8d91;
  --secondary-inverted-color: #f7ede4;
  --check-color: #44bc62;

  /** Variables para bordes */
  --default-border: #c7c7c7;
  --secondary-border: #fff;
  --hover-border: #8a8d91;
  --active-border: #5e83ff;
  --input-border: #5f676f;
  --primary-border: #291401;

  /** Variables de sombras */
  --shadow-0: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-1: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.28);
  --shadow-2: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --shadow-3: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow-4: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  /** Transicion */
  --default-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --fast-transition: all 0.1s cubic-bezier(0, 0, 1, 1);
  --simple-transition: all 0.5s ease-out;

  /** Grid layout */
  --main-row-layout: 10rem 1fr;
  --phi-ratio: calc(100% / 1.618);

  /** Border Radius */
  --rounded-br: 99999px;
  --default-br: 2rem;

  /** Fonts */
  --primary-font: Circular;
  --secondary-font: SF Optimized, system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular',
    sans-serif;
  --compresed-spacing: -0.01em;
  --expanded-spacing: 0.25rem;
}

html,
body {
  margin: 0;
  font-size: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--default-bg);
  font-family: Circular;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Circular;
  font-weight: 100;
  font-style: normal;
  src: url('./fonts/AirbnbCereal-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Circular;
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/AirbnbCereal-Book.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Circular;
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/AirbnbCereal-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Circular;
  font-weight: 800;
  font-style: normal;
  src: url('./fonts/AirbnbCereal-Bold.woff') format('woff');
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}
